.github/
.husky/
.idea/
coverage/
src/

**/_*
**/*.test.*

.gitignore
.prettierignore
.prettierrc.yml
babel.config.cjs
coverage.open.js
eslint.config.js
eslint.config.utils.js
nodemon.json
tsconfig.json
tsup.config.ts
tmp.js