name: Tag, Release, and Publish on PR Merge to Master

on:
  pull_request:
    types:
      - closed

jobs:
  branch_master:
    runs-on: ubuntu-latest
    outputs:
      MASTER_IS_MERGED: ${{ steps.check_pr_master.outputs.master_is_merged }}
    steps:
      - name: 'Check PR Merge Status on Master'
        id: check_pr_master
        run: echo "master_is_merged=${{ github.event.pull_request.base.ref == 'master' && github.event.pull_request.merged == true }}" >> $GITHUB_OUTPUT

  project_version:
    runs-on: ubuntu-latest
    needs: branch_master
    outputs:
      PROJECT_VERSION: ${{ steps.get_version.outputs.version }}
    if: needs.branch_master.outputs.MASTER_IS_MERGED == 'true'
    steps:
      - name: 'Checkout Code'
        uses: actions/checkout@v4

      - name: 'Install Node.js and jq'
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: 'Get Version from package.json'
        id: get_version
        run: echo "version=$(jq -r .version ./package.json)" >> $GITHUB_OUTPUT

      - name: 'Check if Tag Exists'
        run: |
          if [ $(git tag -l "v${{ steps.get_version.outputs.version }}") ]; then
            echo "::error::Tag v${{ steps.get_version.outputs.version }} already exists." && exit 1
          fi

  tag:
    runs-on: ubuntu-latest
    needs: project_version
    outputs:
      PROJECT_VERSION: ${{needs.project_version.outputs.PROJECT_VERSION}}
    steps:
      - name: 'Checkout Code'
        uses: actions/checkout@v4

      - name: 'Create and Push Tag'
        env:
          PROJECT_VERSION: ${{needs.project_version.outputs.PROJECT_VERSION}}
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git tag -a "v${{ env.PROJECT_VERSION }}" -m "Release v${{ env.PROJECT_VERSION }}"
          git push origin "v${{ env.PROJECT_VERSION }}"

  release:
    runs-on: ubuntu-latest
    needs: tag
    steps:
      - name: 'Checkout Code'
        uses: actions/checkout@v4

      - name: 'Install Node.js'
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: 'Install Dependencies'
        run: npm ci

      - name: 'Run Build'
        run: npm run build

      - name: 'Create GitHub Release'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PROJECT_VERSION: ${{needs.tag.outputs.PROJECT_VERSION}}
        run: |
          CHANGELOG="$(awk '/^## ${{ env.PROJECT_VERSION }}/{found=1} found{if (/^##/) if(++count==2) exit; print}' CHANGELOG.md)"
          gh release create "v${{ env.PROJECT_VERSION }}" --title "Release v${{ env.PROJECT_VERSION }}" --notes "$CHANGELOG"

  publish:
    runs-on: ubuntu-latest
    needs: release
    steps:
      - name: 'Checkout Code'
        uses: actions/checkout@v4

      - name: 'Install Node.js'
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: 'Install Dependencies'
        run: npm ci

      - name: 'Run Build'
        run: npm run build

      - name: 'Publish as NPM Package'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_AUTH_TOKEN }}" > ~/.npmrc
          npm publish
